* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font: 12px 'Source Sans Pro', sans-serif;
  background: #f7f7f7;
}

.bg-wavy {
  margin-bottom: 0;
}