
.app {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.todo {
  background: #fff;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  font: bold 25px 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
}

header button {
  background: #694ab0;
  color: #fff;
  border: 1px solid #eee;
  padding: 0.4rem;
  border-radius: 3px;
  transition: .8s ease-out;
  cursor: pointer;
  display:flex;
}

header button:hover {
  filter: brightness(0.9);
}

button svg {
  font-size: 20px;
  font-weight: bold;
}

header input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100vw;
}

header input:focus {
  outline: 1px solid #bbb;
}

.task-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-and-title {
  display: flex;
  align-items: center;
}

.checkbox-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 24px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

.checkbox-container input:checked ~ .checkmark {
  background: #694ab0;
  transition: .8s ease-out;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.task-container p {
  font-size: 13px;
}

.task-container svg {
  font-size: 20px;
  cursor: pointer;
  color: #694ab0;
}

.task-container.completed p {
  color: #ccc;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  text-decoration-color: #000;
}